# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
*.db
*.sqlite

# Env files
.env
*.env.local

# Node
node_modules/
dist/
.cache/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
